/* Fundo degradê */
body {
    background: linear-gradient(to bottom, #12759f, #121726);
    font-family: Arial, sans-serif;
    color: #333;
}

h1 {
	color: #333;
	text-align: center;
}

p {
	color: #666;
	text-align: center;
}

.banner-container {
    text-align: center;
}

.banner-container img {
    display: inline-block;
}

